body {
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  border-bottom: black 1px solid;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 175px;
  height: 100%;
  flex-wrap: nowrap;
}
header p a {
  color: mediumaquamarine;
}
header ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  height: 100%;
  flex-wrap: wrap;
}
header li {
  display: inline;
  text-decoration: underline;
  margin: 0 10px;

}
header a {
  text-decoration: none;
  color: black;
}
.jumbotron {
  display: flex;
  justify-content: center;
  width: 1250px;
  margin: 30px auto;
  justify-content: space-between;
}
.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}
.white {
  color: white;
}
.black {
  color: black;
  margin: 0;
}
.img {
  display: flex;
  align-items: center;
  text-align: center;
}
.jumbotron p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.main {
  display: flex;
  width: 630px;
  flex-direction: column;
}


.headline-story {
  flex-direction: column;
}
.headline-story .img {
  background: url(../img/img-story-main.png) no-repeat center center;
  background-size: cover;
  width: 629px;
  height: 300px;
  text-align: left;
}
.headline-story .headline {
  font-size: 40px;
  padding: 0 25px;
}
@media only screen and (max-width:630px) {
  .headline-story .headline {
    font-size: 32px;
  }
}
.sub-headlines {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.small-column {
  display: flex;
  width: 300px;
  flex-direction: column;
}
#cameras {
  background: url(../img/img-story-3.png) no-repeat center center;
  background-size: cover;
  width: 299px;
  height: 300px;
}
#earth {
  background: url(../img/img-story-2.png) no-repeat center center;
  background-size: cover;
  width: 299px;
  height: 300px;
}
.sub-column {
  display: flex;
  width: 300px;
  flex-direction: column;
}
#cats {
  background: url(../img/img-story-1.png) no-repeat center center;
  background-size: cover;
  width: 299px;
  height: 300px;
}

.news-bites h1 {
  font-size: 16px;
  font-weight: bold;
  font-family: Georgia;
}
.news-bites ul {
  list-style: none;
  background-color: whiteSmoke;
  padding-left: 0;
}
.news-bites li {
  border-bottom: black 1px solid;
  padding: 10px 15px;
}
.news-bites a {
  display: inline-block;
  color: DimGrey;
  text-decoration: none;
  font-family: Verdana;
  font-size: 12px;
}
footer {
  background-color: mediumaquamarine;
  height: 200px;
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#links {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
footer p {
  padding-right: 10px;
  border-right: white 1px solid;
  font-family: georgia;
  font-size: 16px;
  font-weight: bold;
}
footer p a {
  color: white;
}
footer ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}
footer li {
  display: inline;
  text-decoration: underline;
  margin: 0 10px;
}
footer a {
  text-decoration: none;
  color: black;
}
#copy {
  display: block;
  font-weight: lighter;
  border: none;
  font-size: 12px;
  font-family: verdana;
  padding: 0;
}
@media only screen and (max-width:1260px) {
  .news-bites {
    display: none;
  }
  .jumbotron {
  width: 980px;
  }
}
@media only screen and (max-width: 980px) {
  .jumbotron {
    width: 100%;
    flex-direction: column;
  }
}
@media only screen and (max-width:630px) {
  .main {
    width: 100%;
  }
  .headline-story .img {
    width: 100%;
  }
  .small-column {
    width: 47.5%;
  }
  #cameras, #earth {
    width: 100%;
  }
  .sub-column {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  #cats {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width:480px) {
  .sub-headlines {
    flex-direction: column;
  }
  .small-column {
    width: 100%;
    flex-direction: column;
  }
