body {
  margin: 0;
  }
header {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  border-bottom: black 1px solid;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;

}
#logo {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 175px;
  height: 100%;
  flex-wrap: nowrap;
}
header p a {
  color: mediumaquamarine;
}
header ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  height: 100%;
  flex-wrap: wrap;
}
header li {
  display: inline;
  text-decoration: underline;
  margin: 0 10px;

}
header a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
}
.main {
  display: flex;
  width: 630px;
  flex-direction: column;
}
.headline {
  flex-direction: column;

}
.sub-headlines {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.small-column {
  display: flex;
  width: 300px;
  flex-direction: column;
}
.sub-column {
  display: flex;
  width: 300px;
  flex-direction: column;
}
